<ion-view title="主页">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div>
            <p>您已经{{gone}}天没有射箭了</p>
        </div>
		</div>
		
		<div class="item item-text-wrap">
		<canvas id="line" class="chart chart-line" chart-data="data"
		chart-labels="labels" chart-legend="true" chart-series="series"
		chart-click="onClick" >
		</canvas> 
		</div>
        <p>
	<div class="list" ng-repeat="image in images">
		<a class="item item-thumbnail-left" href="#">
		  <img  ng-src="{{urlForImage(image['img'])}}" height="200px"/>
		  <h2>{{image['date']}}</h2>
		  <p>{{image['score']}}环，25米，反曲</p>
          <button class="button button-small button-energized">X环*6</button>
          <button class="button button-small button-energized">10环*2</button>
          <button class="button button-small button-energized">9环*4</button>
          <button class="button  button-small button-assertive">8环*4</button>
          <button class="button button-small button-stable" >总数：16支</button>
          <button class="button  button-small button-stable">总分：148环</button>


        
		</a>
    </div>
       <ion-infinite-scroll  ng-if="moreDataCanBeLoaded()"  icon="ion-loading-c" distance="1%"  on-infinite="loadMoreData()">
       </ion-infinite-scroll>
    </ion-content>
    
    
      <ion-footer-bar align-title="center" class="bar bar-light">
            <div class="button-bar">
                <a ui-sref="side-menu.pageNewScore" id="page12-button8"  style="font-weight:bold;border-radius:-8px -8px -8px -8px;" class="button button-balanced  button-block">记录一组</a>
            </div>
      </ion-footer-bar>
      
</ion-view>