<ion-view title="图形计箭">
    <ion-content overflow-scroll="false" padding="true" class="has-header">
<ion-scroll zooming="true" direction="xy"  overflow-scroll="false">
<canvas id="myCanvas" style=" height: 100%;width: 100%;margin: 0;padding: 0;display: block;" ng-mousedown="downEvent($event)"
on-touch="downEvent($event)"
ng-mousemove="dragEvent($event)"
on-drag="dragEvent($event)"
ng-mouseup="upEvent($event)"
on-release="upEvent($event)" >
</canvas >  
</ion-scroll >
    <ion-footer-bar align-title="center" class="bar bar-light">
        <div class="button-bar">
            <button id="page9-button4" type="button" style="font-weight:bold;border-radius:-8px -8px -8px -8px;" class="button button-assertive button-block"
                ng-click="recordNew()">记录完成</button>
            <button id="btnCancelRecord" type="button" class="button button-stable button-block" ng-click="recordCancel()">放弃记录</button>
        </div>
    </ion-footer-bar>
    </ion-content>
</ion-view>