<ion-view title="成绩记录">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div class="list card">
                <div class="item item-divider">总成绩</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input">
                            <input type="text" value="{{totalScore}}{{scoreText}}" placeholder="0环(如果你不想逐项纪录,可以在这里手动输入总成绩)"  ng-model="totalScore" ng-change="onScoreChange()" id="ctrlInputScore">
                        </label>
                    </form>
                </div>
            </div>
	
            <ion-item class="range range-positive" ng-repeat="item in items" item="item" >
                <input type="range" ng-model="item.volume" ng-change="setLevelText()" value="0" min="0" max="12"><font  color="blue">{{item.id}}环*{{item.volume}} ={{ item.id*item.volume}}</font>
            </ion-item>
	
        </form>
     	  
    </ion-content>
            <ion-footer-bar align-title="center" class="bar bar-light">
	  <div class="button-bar">
  <button id="page9-button4" type="button" class="button button-stable  button-block" ng-click="recordNew()" >记录完成</button>
	  </div>
  </ion-footer-bar>
</ion-view>