<ion-view title="图形计箭">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

<canvas id="myCanvas" style=" height: 100%;width: 100%;margin: 0;padding: 0;display: block;" >
</canvas>  

    <ion-footer-bar align-title="center" class="bar bar-light">
        <div class="button-bar">
            <button id="page9-button4" type="button" style="font-weight:bold;border-radius:-8px -8px -8px -8px;" class="button button-assertive button-block"
                ng-click="recordNew()">记录完成</button>
            <button id="btnCancelRecord" type="button" class="button button-stable button-block" ng-click="recordCancel()">放弃记录</button>

        </div>
    </ion-footer-bar>
    </ion-content>
</ion-view>