<ion-view title="新手入门">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
    <div class="card days" ng-show="!todoView">
      <ion-item href="#/side-menu/day1" class="item item-icon-right"><i class="icon ion-ios-arrow-right"></i>第一天 -- 在哪射 </ion-item>
      <ion-item href="#/side-menu/day2" class="item item-icon-right"><i class="icon ion-ios-arrow-right"></i>第二天 -- 开弓射箭</ion-item>
      <ion-item href="#/side-menu/day3" class="item item-icon-right"><i class="icon ion-ios-arrow-right"></i>第三天 -- 弓箭评测</ion-item>
     </div>
    </ion-content>
</ion-view>