<ion-view title="主页">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div>
            <p>还没有记录过射箭成绩哦</p>
        </div>
		</div>
		
		<div class="item item-text-wrap">
		<canvas id="line" class="chart chart-line" chart-data="data"
		chart-labels="labels" chart-legend="true" chart-series="series"
		chart-click="onClick" >
		</canvas> 
		</div>
		
        <a ui-sref="page9" id="page12-button8" ng-click="record()" style="font-weight:bold;border-radius:-8px -8px -8px -8px;" class="button button-balanced  button-block">记录一组</a>
    </ion-content>
</ion-view>