<ion-view title="主页">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list>
            <ion-list>
                <ion-item>Item 1</ion-item>
                <ion-item>Item 2</ion-item>
                <ion-item>Item 3</ion-item>
            </ion-list>
        </ion-list>
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div>
            <p>还没有记录过射箭成绩哦</p>
        </div>
        <a ui-sref="page9" id="page12-button8" ng-click="record()" style="font-weight:bold;border-radius:-8px -8px -8px -8px;" class="button button-balanced  button-block">记录一组</a>
    </ion-content>
</ion-view>