<ion-view title="视频录制">
    <ion-content overflow-scroll="true" padding="true" class="has-header">

 <div class="list">
	  <div class="item item-divider">
		  <i class="ion-videocamera"></i>
		  Current clip
	  </div>
		<img ng-src="{{urlForClipThumb(clip)}}" ng-click="showClip(clip)" style="height: 250px; width: 150px;"/>
  </div>
        </ion-content>
        <ion-footer-bar align-title="center" class="bar bar-light">
	  <div class="button-bar">
		  <button class="button button-positive" ng-click="captureVideo()">
			  Capture a video
		  </button>
	  </div>
  </ion-footer-bar>
</ion-view>