<ion-view title="Dashboard">
    <ion-content class="padding">


        <h1>总分:120环</h1>
             
        <div id="vc"><div id="vci"><div id="content">
        <button class="button button-small button-stable" >
        0环*0
        </button>
        <button class="button  button-small button-stable">
        1环*0
        </button>
        <button class="button button-small  button-stable">
        2环*0
        </button>

        <button class="button button-small  button-positive">
         3环*0
        </button>
        <button class="button button-small  button-positive">
        4环*0
        </button>       
        <button class="button button-small button-positive">
        5环*0
        </button>
        
            
        <button class="button button-small button-assertive">
                6环*0
                </button>

        <button class="button  button-small button-assertive">
                7环*0
                </button>
        <button class="button  button-small button-assertive">
                8环*0
                </button>
        
    
    <button class="button button-small button-energized">
        9环*0
        </button>
        
            <button class="button button-small button-energized">
        10环*6
        </button>
        <button class="button button-small button-energized">
        X环*6
        </button>
<p/> <p/> 
    </div></div></div>
    <p/>    <p/>
          <p>    <p/>   <p/>    <p/>   <p/>    <p/>
        <div id="vc"><div id="vci"><div id="content">
        <button class="button button-small button-stable" item-width="25%">
        脱靶
        </button>
        <button class="button button-small button-stable">
        1环
        </button>
        <button class="button button-small  button-stable">
        2环
        </button>
        <p>
             <p>

            
        <button class="button button-assertive">
                6环
                </button>

        <button class="button  button-assertive">
                7环
                </button>
        <button class="button  button-assertive">
                8环
                </button>
        
      <p>
    <button class="button button-energized">
        9环
        </button>
        
            <button class="button  button-energized">
        10环
        </button>
        <button class="button  button-energized">
        10X环
        </button>
<p>
            <button class="button button-small  button-positive">
         3环
        </button>
        <button class="button button-small  button-positive">
        4环
        </button>       
        <button class="button button-small button-positive">
        5环
        </button>
        <p>
    </div></div></div>

        
    </ion-content>
</ion-view>