<ion-view title="视频录制">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
        
<select ng-model="topicsDatatab"
     ng-options="tab.value as tab.label for tab in tabs">
</select>

<div class="card">
  <div class="item item-text-wrap">
    您一共已经射了{{arrowsCount}}支箭
  </div>
</div>

    <label class="item item-input item-select">
        <div class="input-label">
        成绩曲线量化一组箭数
        </div>
        <select ng-model="topicsDatatab"
            ng-options="tab.value as tab.label for tab in tabs">
        </select>
    </label>

    <label class="item item-input item-select">
        <div class="input-label">
        x环视为十环
        </div>
        <select ng-model="topicsDatatab"
            ng-options="tab.value as tab.label for tab in tabs">
        </select>
    </label>
  
    </ion-content>
</ion-view>