<ion-view title="箭馆地图">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">园区</div>
            <div class="item item-body">
                <div>
                    <p>
                        <strong>劲羽箭艺（万科美好馆）</strong>
                        <br>地址：万科美好广场L229号
                        <br>电话：0512-67486186</p>
                </div>
                <div>
                    <p>
                        <strong>劲羽箭艺（独墅湖体育馆）</strong>
                        <br>地址：翠薇街1号独墅湖体育馆
                        <br>电话：0512-62386842</p>
                </div>
            </div>
        </div>
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">新区</div>
            <div class="item item-body">
                <div>
                    <p>
                        <strong>霸王弓箭俱乐部</strong>
                        <br>地址:泰山路689(润谷新能源院子进去到底右转，大门进去上二楼)
                        <br>电话:13913530224(顾先生)</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">吴中区</div>
            <div class="item item-body">
                <div>
                    <p>
                        <strong>控弦坊</strong>
                        <br>地址：吴中大道1109号sm广场旁越湖大厦金釜山8楼8006室（汉庭快捷酒店）
                        <br>电话：</p>
                </div>
                <div>
                    <p>
                        <strong>江南弓社</strong>
                        石湖东路19号2楼（宝带桥路地铁站东南出口，沿停车场东头佛字进巷到底，佛院门口右手2楼）</p>
                </div>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">平江区</div>
            <div class="item item-body">
                <div>
                    <p>
                        <strong>聚元箭道</strong>
                        <br>地址:平江区人民路3199号盛博广场三楼(万达百货对面)
                        <br>电话:0512-69166685 15050492569</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>