<ion-view title="成绩记录">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div class="list card">
                <div class="item item-divider">总成绩</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input">
                            <span class="input-label">0</span>
                            <input type="text" placeholder="">
                        </label>
                    </form>
                </div>
            </div>
            <ion-item class="range range-positive">十环*0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">九环*0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">八环*0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">七环*0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">六环*0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">五环＊0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">四环＊0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">三环＊0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">二环＊0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">一环＊0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">脱靶
                <input type="range" value="0" min="0" max="12">
            </ion-item>
        </form>
        <button id="page9-button4" type="button" class="button button-stable  button-block" ng-click="recordNew()" >记录完成</button>
    </ion-content>
</ion-view>