<ion-view title="成绩记录">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div class="list card">
                <div class="item item-divider">总成绩</div>
                <div class="item item-body">
                    <form class="list">
                        <label class="item item-input">
                            <span class="input-label">0</span>
                            <input type="text" placeholder="">
                        </label>
                    </form>
                </div>
            </div>
            <ion-item class="range range-positive">十环*0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">九环*0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">八环*0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">七环*0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">6
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">5
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">4
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">3
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">2
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">1
                <input type="range" value="0" min="0" max="12">
            </ion-item>
            <ion-item class="range range-positive">0
                <input type="range" value="0" min="0" max="12">
            </ion-item>
        </form>
        <button id="page9-button4" class="button button-stable  button-block">记录完成</button>
    </ion-content>
</ion-view>