<ion-view title="成绩记录">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        
<ion-tabs class="tabs-icon-only tabs-positive">
    <ion-tab title="Home" href="#/tab/dash" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline" ng-controller="HomeCtrl">

    </ion-tab>
    
    <ion-tab title="About" href="#/tab/friends" icon-on="icon ion-ios7-clock" icon-off="icon ion-ios7-clock-outline">

    </ion-tab>
    
    <ion-tab title="Settings" icon-on="icon ion-ios7-gear" icon-off="icon ion-ios7-gear-outline">

    </ion-tab>
</ion-tabs>
     	  
    </ion-content>
</ion-view>