<ion-view title="主页">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 283px; height: 20px;"></div>
        <div>
            <p>您已经{{gone}}天没有射箭了</p>
        </div>
		</div>
		
		<div class="item item-text-wrap">
		<canvas id="line" class="chart chart-line" chart-data="data"
		chart-labels="labels" chart-legend="true" chart-series="series"
		chart-click="onClick" >
		</canvas> 
		</div>
        <p>
	<div class="list" ng-repeat="image in images">
		<a class="item item-thumbnail-left" href="#">
		  <img  ng-src="{{urlForImage(image['img'])}}" height="200px"/>
		  <h2>{{image['date']}}</h2>
		  <p>{{image['score']}}环，{{image.d}}米{{image.p}}，{{image.type}}</p>
          <button ng-if = "image.x>0" class="button button-small button-energized">X环*{{image.x}}</button>
          <button ng-if = "image.ten>0" class="button button-small button-energized">10环*{{image.ten}}</button>
          <button ng-if = "image.nine>0" class="button button-small button-energized">9环*{{image.nine}}</button>
          <button ng-if = "image.eight>0" class="button button-small button-assertive">8环*{{image.eight}}</button>
          <button ng-if = "image.seven>0" class="button button-small button-energized">10环*{{image.seven}}</button>
          <button ng-if = "image.six>0" class="button button-small button-energized">9环*{{image.six}}</button>
          <button ng-if = "image.five>0" class="button button-small button-assertive">8环*{{image.five}}</button>
          <button ng-if = "image.four>0" class="button button-small button-energized">10环*{{image.four}}</button>
          <button ng-if = "image.three>0" class="button button-small button-energized">9环*{{image.three}}</button>
          <button ng-if = "image.two>0" class="button button-small button-assertive">8环*{{image.two}}</button>
          <button ng-if = "image.one>0" class="button button-small button-assertive">8环*{{image.one}}</button>
          <button ng-if = "image.zero>0" class="button button-small button-assertive">8环*{{image.zero}}</button>
          <button class="button button-small button-stable" >总数：{{image.count}}支</button>
          <button class="button  button-small button-stable">总分：{{image.score}}环</button>

		</a>
    </div>
       <ion-infinite-scroll  ng-if="moreDataCanBeLoaded()"  icon="ion-loading-c" distance="1%"  on-infinite="loadMoreData()">
       </ion-infinite-scroll>
    </ion-content>

      <ion-footer-bar align-title="center" class="bar bar-light">
            <div class="button-bar">
                <a ui-sref="side-menu.pageNewScore" id="page12-button8"  style="font-weight:bold;border-radius:-8px -8px -8px -8px;" class="button button-balanced  button-block">记录一组</a>
            </div>
      </ion-footer-bar>
      
</ion-view>