<ion-view title="Dashboard">
    <ion-content class="padding">


        <h1>Dash</h1>
        <button class="button button-stable">
        button-stable
        </button>

        <button class="button button-positive">
        button-positive
        </button>

        <button class="button button-calm">
        button-calm
        </button>

        <button class="button button-balanced">
        button-balanced
        </button>

        <button class="button button-energized">
        button-energized
        </button>

        <button class="button button-assertive">
        button-assertive
        </button>

        <button class="button button-royal">
        button-royal
        </button>

        <button class="button button-dark">
        button-dark
        </button>
        
        <button class="button button-small button-assertive">
        Small Button
        </button>
        
        <button class="button button-large button-positive">
        Large Button
        </button>
    </ion-content>
</ion-view>