<ion-view title="我的装备">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">弓把</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">弓片</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">箭台</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">侧垫</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">减震杆</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">弦</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">箭</span>
                    <input type="text" placeholder="">
                </label>
            </ion-list>
            <ion-item class="item-thumbnail-left">
                <img>
                <h2>照片</h2>
                <p></p>
            </ion-item>
            <button id="page2-button3" class="button button-stable  button-block">保存修改</button>
        </form>
    </ion-content>
</ion-view>