<ion-view title="箭馆地图">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">第二天 ---- 开弓射箭</div>
            <div class="item item-body">
                <div>

<strong>站位</strong><p>
 侧立式站位–––适合于大部分人。 <p>
 暴露式站位–––身体斜面对靶子,右撇子右脚前伸 ,较适合于拉弦臂的大臂长，小臂短者。 <p>
 隐蔽式站位–––身体斜背队靶子,较适合于拉弦臂的大臂短，小臂长者。<p>

<strong>上箭</strong><p> 
    先插进响片箭台再卡弦 先卡弦 后拨开响片插入箭台<p>

<strong>开弓方式</strong>
<p> 高开
<p> 平开
<p>

<strong>靠弦</strong>
<p> 鼻尖: 一般配合弦内
<p> 唇角 一般配合弦外
<p>
<strong>撒放</strong>
<p>错误类型: 内扣 外翻 上扬 下扬

                </div>
            </div>
        </div>

    </ion-content>
</ion-view>